body {
    background-color: beige;
  }
  h4 {
    text-align: center;
    font-size: 2.5rem;
  }
  
  input {
    width: auto;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  li {
    text-align: justify;
    font-size: larger;
    font-family: sans-serif;
  }
  
  .label-container {
    display: inline-block;
  }
  
  .label-container label {
    display: block;
    margin-right: 10px;
    font-size: 16px;
    color: #333;
  }
  
  .radio-container label {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    display: inline-block;
  }
  img {
    height: 150px;
    width: 150px;
  }
  .text-left{
    text-align: left; 
  }
  .btns {
    background-color: #f0f0bd;
    font-size: 14px;
    padding: 5px;
    margin: 10px;
  }
  .btns:hover {
    background-color: rgb(236, 172, 94);
  }
  .img-class{
    height: 50px;
    width: 50px;
  }
  .a-class{
    color: black;
    text-decoration: none;
    font-size: 22px;
    padding: 7px;
    margin: 7px;
  }
  .navbar-div{
  background-color: rgb(233, 182, 120);
  }
  